* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", "sans-serif";
}

$mobile: 768px;

.container {
  padding: 4rem 20rem;
  @media screen and (max-width: $mobile) {
    padding: 2rem;
  }
}

.header {
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding-bottom: 6rem;

  h1 {
    font-weight: bolder;
  }

  p {
    width: 20rem;
  }

  @media screen and (max-width: $mobile) {
    flex-direction: column;
    h1 {
      padding-top: 3rem;
      padding-bottom: 2rem;
    }
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 1rem;
  padding-bottom: 6rem;

  img {
    width: 10rem;
  }

  .rotated {
    transform: rotate(90deg) translateY(2rem) translateX(-2rem);
  }

  .top-aligment {
    padding-top: 5rem;
  }

  .names {
    font-weight: bolder;
  }

  @media screen and (max-width: $mobile) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    img {
      width: 8rem;
    }
    .rotated {
      transform: rotate(90deg) translateY(-4rem) translateX(-7rem);
    }

    .top-aligment {
      padding-top: 0rem;
    }

    div:nth-child(even){
      padding-top: 4rem;
    }
  }
}

footer {
  display: flex;
  justify-content: center;
}

span{
  font-weight: bold;
}
