* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: #2F2F2F;
}



button, h1 {
	margin: 2rem;
	padding: 2rem;
}

button {
	background-color: #2F2F2F;
	border: none;
	cursor: pointer;
	color: #CACACA;
	font-size: 2rem;
	font-weight: bold;
	border-radius: 1rem;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 40rem;
}


.dark{
	color: #CACACA;
	background-color: #2F2F2F;
}

.dark button{
	background-color: #CACACA;
	color: #2F2F2F;
}

.dark h1{
	color: #CACACA;
}